---
import MainLayout from "../layouts/MainLayout.astro"
import { getCollection } from "astro:content"

const allProjects = await getCollection("projects")
---

<MainLayout title="Welcome to Astro.">
  <h1 class="text-4xl">Hello</h1>
  {
    allProjects.map((project) => (
      <div>
        <p>
          <img
            src={`https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=${project.data.url}&size=32`}
            alt=""
            class="inline-block h-4 w-4"
          />
          <span>{project.data.title}</span>
        </p>
      </div>
    ))
  }
</MainLayout>
