---
import AppShortcut from "../components/AppShortcut.astro"
import MainLayout from "../layouts/MainLayout.astro"
import { getCollection } from "astro:content"

const allProjects = await getCollection("projects")
---

<MainLayout title="Welcome to Astro.">
  <h1 class="text-4xl">Hello</h1>
  {
    allProjects.map((project) => (
      <div>
        <AppShortcut
          icon={`https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=${project.data.url}&size=32`}
          title={project.data.title}
          url={project.data.url}
        />
      </div>
    ))
  }
</MainLayout>
