---
import MainLayout from "../layouts/MainLayout.astro"
import { getCollection } from "astro:content"

const allProjects = await getCollection("projects")
console.log(allProjects)
---

<MainLayout title="Welcome to Astro.">
  <h1 class="text-4xl">Hello</h1>
  {
    allProjects.map((project) => (
      <div>
        <p>{project.data.title}</p>
      </div>
    ))
  }
</MainLayout>
