---
import QuickAccess from "../components/QuickAccess.astro"
import DivMaxWidth from "../layouts/DivMaxWidth.astro"
import Layout from "../layouts/Layout.astro"
import { getCollection } from "astro:content"

const mainProjects = await getCollection("projects", ({ data }) => {
  return data.addShortcut === true
})
---

<Layout title="Welcome to Astro.">
  <main class="p-4">
    <DivMaxWidth class="mt-0 sm:mt-8 md:mt-12 lg:mt-24">
      <QuickAccess projects={mainProjects} />
    </DivMaxWidth>
  </main>
</Layout>
