---
import MyCanvas from "./MyCanvas.astro"
---

<div
  class="pointer-events-none absolute inset-0 top-16 -z-10 overflow-hidden perspective-1000"
>
  <MyCanvas />
  <div class="absolute inset-0 bg-gray-900 opacity-80"></div>
</div>
