---
import { IconBrandGithub, IconBrandLinkedin } from "@tabler/icons-react"

interface Props {
  title: string
  icon: "github" | "linkedin"
  url: string
}

const { url, title, icon } = Astro.props
---

<li>
  <a
    href={url}
    class="group relative flex h-full flex-col flex-wrap items-center justify-center rounded-xl bg-gray-800 p-2 shadow-gray-100 transition-colors duration-300 hover:bg-gray-700 hover:shadow-xl hover:duration-0"
  >
    {
      icon === "github" ? (
        <IconBrandGithub className="w-32" stroke={1} size={48} />
      ) : (
        <IconBrandLinkedin className="w-32" stroke={1} size={48} />
      )
    }
    <span class="text-lg leading-tight tracking-wider">{title}</span>
  </a>
</li>
