---
interface Props {
  title: string
  icon: string
  url: string
}

const { url, title, icon } = Astro.props
---

<li>
  <a
    href={url}
    class="group flex h-full flex-col items-center justify-center gap-2 rounded-xl bg-gray-800 p-4 shadow-gray-100 transition-colors duration-300 hover:bg-gray-700 hover:shadow-xl hover:duration-0"
  >
    <img
      src={icon}
      alt=""
      class="block aspect-square w-20 rounded-full border border-gray-900"
    />
    <div class="flex grow flex-col items-center justify-center text-center">
      <span class="text-lg leading-tight tracking-wider">{title}</span>
    </div>
  </a>
</li>
