---
import type { CollectionEntry } from "astro:content"
import AppShortcut from "./AppShortcut.astro"

interface Props {
  projects: CollectionEntry<"projects">[]
}

const { projects } = Astro.props
---

<h2
  class="font-title mb-2 text-center text-3xl uppercase leading-none tracking-wide"
>
  <span class="flex items-center justify-center gap-2">
    <span class="select-none text-gray-500" aria-hidden="true">~</span>
    <span>Quick acces</span>
    <span class="select-none text-gray-500" aria-hidden="true">~</span>
  </span>
  <span class="block text-base font-semibold text-gray-500">to my apps</span>
</h2>
<ul class="flex flex-wrap justify-center gap-4 [&>*]:max-w-64 [&>*]:flex-1">
  {
    projects.map((project) => (
      <AppShortcut
        icon={project.data.maskableIcon}
        title={project.data.name}
        url={project.data.url}
      />
    ))
  }
</ul>
